.cart {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  .title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 2rem;
  }
  .cartDetails {
    // display: flex;
    // justify-content: space-between;
    position: relative;
    .cartTable {
      width: 70%;
      td {
        vertical-align: middle;
        text-align: center;
        padding: 1rem;
      }
      .cartTableHeader {
        background-color: #17A2B8;
        max-height: 3rem;
        color: white;
        font-weight: bold;
        margin-bottom: 1rem;
        border-bottom: 2px solid black;
      }
      .cartTableRow {
        border-bottom: 1px solid #ECECEC;
        .productImage {
          height: 200px;
          width: auto;
        }
        button {
          width: 10rem;
        }
        .totalPrice {
          font-weight: bold;
        }
      }
    }
  }
}
