@import '../../styles/vars';

.cart {
  text-align: left;
  margin-left: $mainComponentSideMargin;
  margin-right: $mainComponentSideMargin;
  .title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 2rem;
  }
  .cartDetails {
    position: relative;
    .cartTable {
      width: 70%;
      td {
        vertical-align: middle;
        text-align: center;
        padding: 1rem;
      }
      .cartTableHeader {
        font-family: 'Roboto', sans-serif;
        font-size: 0.875rem;
        background-color: $cartMainColor;
        max-height: 3rem;
        color: white;
        font-weight: bold;
        margin-bottom: 1rem;
        border-bottom: 2px solid black;
      }
      #cartTableHeader {
        font-weight: 400;
      }
      .cartTableRow {
        border-bottom: 1px solid $lightColor;
        .productImage {
          height: 200px;
          width: auto;
        }
        .productName {
          font-size: 1.125rem;
          font-weight: 500;
        }
        .productPrice {
          font-size: 0.875rem;
          font-weight: 500;
        }
        .totalPrice {
          font-size: 1rem;
          font-weight: 700;
        }
        .button {
          width: 4rem;
          height: 2.25rem;
          font-weight: 500;
        }
      }
    }
  }
}
