.product {
  display: flex;
  border-bottom: 1px solid #ECECEC;
  padding: 1rem 0rem 1rem 0rem;
  .productImage {
    height: 200px;
    width: auto;
  }
  .productDetails {
    width: 100%;
    margin-left: 1.5rem;
    .productName {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .productSummary {
      display: flex;
      .productOverview {
        width: calc(100% / 3 * 1);
        .productSpecificationsList {
          .productSpecification {
            margin-bottom: 1rem;
            .specificationIcon {
              height: 1rem;
              width: auto;
            }
            .specificationLabel {
              display: inline-block;
              padding-left: 1rem;
            }
          }
        }
        .productPrice {
          font-weight: bold;
          display: inline-block;
          margin-left: 50%;
        }
      }
      .productShortDesc {
        width: calc(100% / 3 * 2);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .description {
          margin-bottom: 1rem;
        }
        .addToCart {
          .addToCartForm {
            .productQuantity {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}
